<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="nav-bar.component.css">
  <title>Responsive Navbar</title>
</head>
<body>
<header class="navbar">
  <div class="logo">AlgoBot</div>
  <nav class="nav-links">
    <a href="/landingPage">Home</a>
    <a href="#">Trading</a>
    <a href="/AboutUs">About Us</a>
    <a href="/Login" class="login-btn">Log In</a>


  </nav>
  <div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
<div class="mobile-nav hidden">
  <a href="#">Home</a>
  <a href="#">Trading</a>
  <a href="#">About Us</a>
  <a href="#">Log In</a>
</div>
<script src="nav-bar.component.js"></script>
</body>
</html>
