<div class="container">
  <form [formGroup]="emailForm" (ngSubmit)="OnSave()">
    <h1 class="title">Forgot Password</h1>

    <div class="wrapper">
      <img src="assets/forgot-password.png" class="forgotPassword">
      
      <div class="paragraphEmail">
        <p>Please enter your email address to receive a verification code</p>
      </div>

      <label for="userName">Email Address</label>
      <input class="email-input" type="text" formControlName="userName" placeholder="Enter your email" required>
      
      <span class="text-danger" *ngIf="emailForm.controls['userName'].errors?.['required']">
        This is required
      </span>

      <div class="text-danger" *ngIf="emailForm.controls['userName'].touched">
        <span *ngIf="emailForm.controls['userName'].errors?.['pattern']">
          Please enter a correct email address
        </span>
      </div>

      <div class="btn-container">
        <button type="submit" class="btn">Submit</button>
      </div>
    </div>
  </form>
</div>
