<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="about-us.component.css">
  <title>
    Landing page
  </title>
</head>
<body>

<div class="container1">
  <h1>About Us</h1>
  <p>We are pioneering a new era in trading by combining
    advanced technology with seamless user experience.
    We believe that trading should be accessible, transparent,
    and innovative. That’s why our platform is built on cutting-edge
    AI-driven analytics, real-time market data, and intuitive interfaces
    that make navigating global markets simple and efficient.
    Algobot is your trusted partner in unlocking the future of markets.</p>
</div>


<div class="container">
  <div class="widget1">
    <img src="assets/img_2.png">
    <div class="mission-widget-content">
      <h2>Mission</h2>
      <p>To educate and support
        our users, fostering a
        community of informed
        and confident traders.</p>
    </div>
  </div>
  <div class="widget2">
    <img src="assets/Visio.icon.webp">
    <div class="vision-widget-content">
      <h2>Vision</h2>
      <p>To shape the future of
        trading by setting the
        standard for excellence,
        innovation, and user
        empowerment.</p>
    </div>
  </div>
  <div class="widget3">
    <img src="assets/img.png">
    <div class="values-widget-content">
      <h2>Values</h2>
      <p>Innovation
        Transparency
        Empowerment
        User-Reliability
        User-Centricity</p>
    </div>
  </div>
</div>
</body>
</html>